body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-sze: 12px;
}

h1, h2, h3 {
	font-family: 'Montserrat Alternates', Helvetica;
}

h2 {
	font-size: 130%;
}
h3 {
	margin: 0.5em 0 0.5em 0;
	font-size: 100%;
}


a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	color: #993300;
}

.wrapper {
	width: 100%;
}

.header {
	background-color: #333333;
	height: 60px;
	font-family: 'Montserrat Alternates', Helvetica;
}
.title {	
	max-width: 990px;
	min-width: 750px;
	margin: auto;
	color: #ffffff;
	padding: 0px 5px;
}

.title a {
	color: #fff;
	text-decoration: none;
}
.front-main {
	max-width: 1000px;
	min-width: 750px;
	margin: 20px auto;
/*	border: 1px solid #333;  for visibility, remove once finished */
	background-color: #ffffff;
}

.front-main p {
	display: block;
	text-align: center;
}

.front-main a {
	font-family: 'Montserrat Alternates', Helvetica;
}

.front-main a:hover {
	text-decoration: none;
	color: #333;
}

.front-link-left {
	float:left;
	border: 2px solid #333;
	border-radius: 10px;
	width: 230px;
	height: 230px;
}

.front-link-left:hover {
	border: 2px solid #21c2f2;
}

.front-link-mid {
	border: 2px solid #333;
	border-radius: 10px;
	width: 230px;
	height: 230px;
	margin: 0px auto;
}

.front-link-mid:hover {
	border: 2px solid #F220C1;
}

.front-link-right {
	float: right;
	border: 2px solid #333;
	border-radius: 10px;
	width: 230px;
	height: 230px;
}

.front-link-right:hover {
	border: 2px solid #C1F220;
}

.front-footer {
	background-color: #333333;
	height: 60px;
	font-family: 'Montserrat Alternates', Helvetica;
}

.contact {
	color: #fff;
	font-size: 90%;
	max-width: 1000px;
	min-width: 750px;
	margin: auto;
}

.contact a {
	color: #fff;
	text-decoration: none;
}

.contact-left {
	float: left;
	padding: 15px 5px;
}

.contact-right {
	float: right;
	padding: 20px 5px;
}

.title h1 {
	padding: 10px 0 0 0;
	font-size: 200%;
	margin: 0px auto;
}

.title-home-link {
	float: right;
	padding: 15px 5px;
}

.content p {
	text-align:left;
}

.content a {
	font-size: 100%;
	font-family: 'PT Sans', sans-serif;;
	color: #21c2f2;
}

.content {
	width: 750px;
	min-height: 230px;
	margin: 0px 5px;
}

.content pre {
  border: 1px solid #ddd;
  background-color: #ececec;
  padding: 0 .4em;
  border-radius: 0.3em;
}

.content code {
  display: block;
  padding: 0 .2em;
  overflow: auto;
}

.content img {
  display: block;
  margin: 10px auto;
  border: 0.1em solid #fff;
  border-radius: 0.3em;
  padding: 0em;
  box-shadow: 0 0 0 2px #ddd;   
}

ul.posts {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

ul.posts span {
	color: #606060;
	font-family: 'Share Tech Mono', monospace, 'Courier New';
	font-size: 90%;	
}

ul.posts a {
	color: #21c2f2;
	font-family: 'PT Sans', sans-serif;
}

.sidebar {
	float: right;
	width: 225px;
}

.sidebar ul {
	list-style-type: none;
	text-align: left;
	font-size: 120%;
	margin: 0;
	padding: 0;
}

.sidebar-includes ul {
	list-style-type: none;
	text-align: left;
	font-size: 90%;
	margin: 0;
}
.sidebar-includes span{
	color: #606060;
	font-family: 'Share Tech Mono', monospace, 'Courier New';
	font-size: 90%;
}

.sidebar-includes h3{
	border-top: 1 px solid #333;
	font-size: 100%;
}
	
.sidebar li {

}

ul.sidebar-posts {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
}

ul.sidebar-posts span {
        color: #606060;
        font-family: 'Share Tech Mono', monospace, 'Courier New';
        font-size: 90%; 
}

ul.sidebar-posts a {
        color: #000;
        font-family: 'PT Sans', sans-serif;
}

ul.sidebar-posts a:hover {
        color: #21c2f2;
}


img {
	border: 0px;
}
