/*
 * Gridism demonstration page
 * These styles are all just for the Gridism demo page.
 * You don’t need this styleshee in your project.
 */


/* General */

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background: #ffffff;
  border-top: 10px solid #008A3D;
  font-size: 14px;
}

/* I use full-width horizontal sections a lot */
body > header,
body > section,
body > footer {
  display: block;
  width: 100%;
  clear: both;
  float: left;
}

h2, h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

h1 {
  font-family: "Montserrat Alternates", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

a {
  color: #008A3D;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

section {
  padding: 30px 0;
}

footer {
	border-top: 1px solid #008A3D;
  padding: 5px 0;
}

header h1 a {
  color: #333;
  border-bottom: none;
}

header p {
  margin: 2em 0;
}

.lead {
  font-size: 1.5em;
}

p, pre {
  font-size: 1em;
  line-height: 1.5em;
}

blockquote {
  font-style: italic;
  padding-left: 15px;
  border-left: 3px solid #008A3D;
}

ul.posts {
	list-style-type: none;
	padding: 0;
}

ul.recent-posts {
  list-style-type: none;
  padding: 0;
  max-width: 160px;
}

li.posts {
	margin: 0.5em 0;
}

.button {
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  padding: 8px 16px;
  text-shadow: 0 1px 0 #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: .25em;
  font-size: 1.2em;
}

.button:hover, .button:focus {
  outline: none;
  border: 1px solid rgba(0, 138, 61, 0.5);
}

.nav-button {
  border-radius: 5px;
  border: 1px solid #DDDDDD;
  padding: 8px 16px;
  text-shadow: 0 1px 0 #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: .25em;
  width: 10em;
  text-align: center;
  font-size: 1.2em;  
}

.nav-button:hover, .nav-button:focus {
  outline: none;
  border: 1px solid rgba(0, 138, 61, 0.5);
}

.current {
	border: 1px solid rgb(0, 138, 61);
}

footer p {
  margin: 0;
  font-size: 1em;
}

ul.posts span {
	color: #606060;
	font-family: 'Share Tech Mono', monospace, 'Courier New';
	font-size: 100%;	
}

pre {
  border: 1px solid #3D3B3B;
  background-color: #3D3B3B;
  padding: 0 .4em;
  border-radius: 0.3em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

code {
  display: block;
  padding: 0 .2em;
  overflow: auto;
  width:100%
}

.MathJax {
	font-size: 2em;
}

img {
  display: block;
  margin: 10px auto;
  border: 0.1em solid #fff;
  border-radius: 0.3em;
  padding: 0em;
  box-shadow: 0 0 0 2px #ddd;   
}

img.gallery {
  max-width: 100%;
  height: 250px;
}

.grid h2 {
  margin-left: -3px;
}

@media (min-width: 960px){
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2.8em;
  }
  h3 {
    font-size: 2em;
  }
  .lead {
    font-size: 1.8em;
  }
}


@media (max-width: 568px){
  section, footer {
  padding: 0px;
  }
}


/** kludge to fix overly wide font spacing in firefox **/
@-moz-document url-prefix() {
                        h1, h2 {
                        letter-spacing: -0.1em;
                    }
}

.meta {
  font-family: 'Share Tech Mono', monospace, 'Courier New';
}

/**lightbox for gallery **/

.lb
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  background: rgba(0,0,0,0.5);
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
}
.lb a
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.lb p {
    margin-top: -45px;
}

.lb img
{
  padding: 5px 5px 45px 5px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px #444;
  -moz-box-shadow: 0px 0px 15px #444;
  -webkit-animation-duration: 0.50s;
  -webkit-animation-name: grow;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
  max-width: 850px;
}

.lb:target {

  display: table;
  height:100%
  }

/** fixes padding for nested grids in gallery **/

.grid .unit .gallery-list {
  padding: 10px 0;
}

img.oa {
    border: 0 none;
    box-shadow: none;
    display: inline;
    margin: -2px 2px;
}

