/*
 * Gridism demonstration page
 * These styles are all just for the Gridism demo page.
 * You don’t need this styleshee in your project.
 */


/* General */

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background: #ffffff;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border-top: 5px solid #008A3D;
}

/* I use full-width horizontal sections a lot */
body > header,
body > section,
body > footer {
  display: block;
  width: 100%;
  clear: both;
  float: left;
}

h2, h3 {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;

}

h1 {
  font-family: "Montserrat Alternates", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 3em;
/*
  letter-spacing: -0.1em;
*/
}

h2 {
  font-size: 1.8em;
/*
  letter-spacing: -0.1em;
*/
}

h3 {
  font-size: 1.2em;
}

a {
  color: #008A3D;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/*
header, section {
  border-bottom: 1px solid #eee;
}

header, section, footer {
  border-top: 1px solid #fff;
}
*/

section, footer {
  padding: 30px 0;
}

footer {
	border-bottom: 15px solid #008A3D;
}

header h1 a {
  color: #333;
  border-bottom: none;
}

header p {
  margin: 2em 0;
}

.lead {
  font-size: 1.5em;
}

p, pre {
  font-size: 1em;
  line-height: 1.5em;
}

ul.posts {
	list-style-type: none;
	padding: 0;
}

li.posts {
	margin: 0.5em 0;
}

.button {
  border-radius: 5px;
  background: #efefef;
  background-image: -moz-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: -webkit-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: -ms-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: linear-gradient(#FCFCFC, #EFEFEF);
  border: 1px solid #DDDDDD;
  padding: 8px 16px;
  text-shadow: 0 1px 0 #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: .25em;
}

.button:hover, .button:focus {
  outline: none;
  border: 1px solid rgba(0, 138, 61, 0.5);
}

.nav-button {
  border-radius: 5px;
  background: #efefef;
  background-image: -moz-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: -webkit-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: -ms-linear-gradient(#FCFCFC, #EFEFEF);
  background-image: linear-gradient(#FCFCFC, #EFEFEF);
  border: 1px solid #DDDDDD;
  padding: 8px 16px;
  text-shadow: 0 1px 0 #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: .25em;
  width: 10em;
  text-align: center;  
}

.nav-button:hover, .nav-button:focus {
  outline: none;
  border: 1px solid rgba(0, 138, 61, 0.5);
}

.current {
	background: rgba(0, 138, 61, 0.25);
}

footer p {
  margin: 0;
  font-size: 1em;
}

ul.posts span {
	color: #606060;
	font-family: 'Share Tech Mono', monospace, 'Courier New';
	font-size: 100%;	
}

pre {
  border: 1px solid #ddd;
  background-color: #ececec;
  padding: 0 .4em;
  border-radius: 0.3em;
}

code {
  display: block;
  padding: 0 .2em;
  overflow: auto;
  width:100%
}

.MathJax {
	font-size: 2em;
}

img {
  display: block;
  margin: 10px auto;
  border: 0.1em solid #fff;
  border-radius: 0.3em;
  padding: 0em;
  box-shadow: 0 0 0 2px #ddd;   
}


@media (min-width: 960px){
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 2em;
  }
  .lead {
    font-size: 1.8em;
  }
}


@media (max-width: 568px){
  section, footer {
  padding: 0px;
  }
}


/* Styles to help demonstrate the grid */


.grid, .unit {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

/** kludge to fix overly wide font spacing in firefox **/
@-moz-document url-prefix() {
                        h1, h2 {
                        letter-spacing: -0.1em;
                    }
}
