---
layout: front
title: Welcome
---

<div class="unit w-2-3">
    <h2>{{ page.title }}</h2>
    <p>
    We are a synthetic polymer chemistry group based in the Department of Chemistry, University of Sheffield, UK. Our research is diverse but may be loosely grouped as novel materials for therapeutics and diagnostics.
    </p>
    <p>
    To achieve this we use a combination of "small molecule" synthesis, modern polymer synthesis, including controlled radical and ring-opening polymerizations, and <em>in vitro</em> and <em>in vivo</em> pre-clinical studies.
    </p>
    <p>
    Current projects range from embolizing agents and trandermal drug delivery to industrial coatings. Further details can be found on our
    <a href="/research/" >research pages</a> or individual <a href="/group/">group member</a> pages.
    </p>
    <div class="w3-display-container">
        <img class="slider" src="img/front_slider/slider_87.png" alt="slide show image 8: Effect of cononsolvents on nanogel synthesis">
        <img class="slider" src="img/front_slider/slider_6.png" alt="slide show image 6: Size control in statistical copolymers">
        <img class="slider" src="img/front_slider/slider_7.png" alt="slide show image 7: Fatty acid containing electrospun patches inhibit Candida">
        <img class="slider" src="img/front_slider/slider_5.png" alt="slide show image 5: Schematic of coating viruses with polyvalent diazonium polymers">
        <img class="slider" src="img/front_slider/slider_1.png" alt="slide show image 1: 3D render of DNA based micelles in blood">
        <img class="slider" src="img/front_slider/slider_3.png" alt="slide show image 2: FRET data for the unpacking of DNA micelles">
        <img class="slider" src="img/front_slider/slider_2.png" alt="slide show image 3: 3D render of temperature responsive particles">
        <img class="slider" src="img/front_slider/slider_4.png" alt="slide show image 4: Confocal microscopy image of cells treated with fluorescent polymer">
        <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
    </div>
</div>

<div class="unit w-1-3">
    <h2>News</h2>
    <ul class="news">
        {% for story in site.data.news limit:9 %}
        <li><span>{{ story.date | date: " %d %b %Y " }}</span> &raquo; {{ story.storytext }}</li>
        {% endfor %}
        <li><a href="news_archive.html"><em>News archive</em></a></li>
    </ul>
</div>

<div class="unit w-2-3">
    <h2>Recent Papers</h2>
    <ul class="news">
      {% for paper in site.data.papers limit:5 %}
        <li>
            "{{ paper.title }}", <em>{{ paper.journal }}</em>, {{ paper.year }}, {% if paper.volume %} <strong>{{ paper.volume }}</strong>,{% endif %} {{ paper.pages }}. <a href="http://dx.doi.org/{{ paper.doi }}">[DOI]</a>
        </li>
      {% endfor %}
      <li><a href="/publications/"><em>Full publication list</em></a></li>
    </ul>
</div>



<div class="unit w-1-3 hide-on-mobiles">
<a class="twitter-timeline" data-height="500" href="https://twitter.com/sebspain?ref_src=twsrc%5Etfw">Tweets by sebspain</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>


<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("slider");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>
