<footer>
    <div class="grid">
        <div class="unit w-1-1 center-on-mobiles align-left">
            <nav class="bottomnav">
                    <a href="mailto:seb@spain-lab.co.uk" class="contact">Email</a>
                    <a href="https://twitter.com/sebspain" class="contact">Twitter</a>
                    <a href="http://www.linkedin.com/pub/sebastian-spain/31/516/38a" class="contact">Linkedin</a>
                    <a href="http://www.researcherid.com/rid/A-7814-2010" class="contact">ResearcherID</a>
                    <a href="http://orcid.org/0000-0001-7241-5713" class="contact">ORCID</a>
                    <a href="http://scholar.google.co.uk/citations?user=aDsMaboAAAAJ" class="contact">Google Scholar</a>
                    <a href="https://www.researchgate.net/profile/Sebastian_Spain" class="contact">ResearchGate</a>
                    <a href="http://github.com/sebspain" class="contact">GitHub</a>
                    <a href="http://sebspain.co.uk/files/sebspain_gpg_public.gpg" class="contact">GPG Key</a>
                    <a href="https://www.youtube.com/channel/UCcdwL6wjC1TgPdSsdtZZRPA" class="contact">YouTube</a>
            </nav>
        </div>

    </div>
</footer>
