<header class="site-header">
    <div class="grid">
        <div class="unit w-1-3 center-on-mobiles">
            <img class="logo" src="/img/spain_lab_lowres_col.png" />
        </div>
        <div class="unit w-2-3 center-on-mobiles align-right">
            <nav class="topnav">
                <a href="/">Home</a>
                <a href="/research/">Research</a>
                <a href="/group/">People</a>
                <a href="/facilities/">Facilities</a>
                <a href="/publications">Publications</a>
                <a href="/blog.html">Blog</a>
            </nav>
        </div>
    </div>
</header>
