<nav class="main-nav unit w-1-3 hide-on-mobiles">
      <ul>
  <li class="nav-button">
    <a href="/">Home</a>
  </li>
  <li class="nav-button">
    <a href="/blog.html">Blog</a>
  </li>
  <li class="nav-button">
    <a href="/research/">Research</a>
  </li>
  <li class="nav-button">
    <a href="/publications/">Pub<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">lications</span></a>
  </li>
  <li class="nav-button">
    <a href="/graphics.html">Graphics</a>
  </li>
   <li class="nav-button">
    <a href="/photos.html">Photo<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">graphy</span></a>
  </li>
  <li class="nav-button">
    <a href="/about/">About</a>
  </li>
</ul>
</nav>
