<div class="mobile-nav center-on-mobiles show-on-mobiles">
<p>
   <a href="/" class="button">Home</a>
   <a href="/research/" class="button {% if page.title == 'Research' %}current{% endif %}">Research</a>
   <a href="/publications/" class="button {% if page.title == 'Publications' %}current{% endif %}">Papers</a>
   <a href="/about/" class="button {% if page.title == 'About' %}current{% endif %}">Biography</a>
   <a href="/blog.html" class="button {% if page.title == 'Blog Posts' %}current{% endif %}">Blog</a>
   <!--
   <a href="/graphics.html" class="button {% if page.title == 'Graphics' %}current{% endif %}">Graphics</a>
   <a href="/photos.html" class="button {% if page.title == 'Photography' %}current{% endif %}">Photos</a>
   -->
</p>

</div>
