<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>sebspain.co.uk</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700|Montserrat+Alternates|Montserrat|Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/gridism.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/syntax.css">
  {% include mathjax.html %}
</head>
