<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spain Lab - {{ page.title }}</title>
  <meta name="description" content="Website for the research group of Dr Seb Spain in the Department of Chemistry, University of Sheffield.">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CFira+Sans:300,300italic,500,500italic,400,400italic,700,700italic%7CFira+Mono:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/gridism.css">
  <link rel="stylesheet" href="/css/style.css">
    {% include mathjax.html %}
    {% include altmetric.html %}
</head>
