---
layout: page
title: Kathryn Murray
---

{% for person in site.data.people %}
    {% if person.name == page.title %}
    <img src="img/{{ person.url }}.png" alt="{{ page.title }}" class="gallery">
    <p> {{ person.biog }}</p>
    <p><strong>Project:</strong> {{ person.project }}</p>
    <p><strong>Funding:</strong> {% if person.cdt == true %}
        {{ person.funder.first }} and {{ person.funder.last }} through the <a href="https://www.polymercdt.org.uk/">EPSRC CDT in Polymers, Soft Matter and Colloids</a><p>
    {% else %}
        {{ person.funder }}
    {% endif %}
    {% if person.supervisors %}
    <p>{{ person.firstname }} is co-supervised by {{ person.supervisors }}.</p>
    {% endif %}
    {% if person.prizes %}
    <h3>Prizes</h3>
    {% for i in person.prizes %}
    <ul>
    <li>{{ person.prizes[ forloop.index0 ] }}</li>
    </ul>
    {% endfor %}
    {% endif %}

{% endif %}
{% endfor %}

{% for paper in site.data.papers %}
{% if paper.authors contains page.title %}
<h3>Papers</h3>
<p>
    {{ paper.authors }}; "{{ paper.title }}", <em>{{ paper.journal }}</em>, {{ paper.year }}, {% if paper.volume %} <strong>{{ paper.volume }}</strong>,{% endif %} {{ paper.pages }}. <a href="http://dx.doi.org/{{ paper.doi }}">[DOI]</a>
    {% if paper.pdf == true %}<a href="/non_foss/publications/PDFs/{{ paper.year }}/{{ paper.doi_short }}.pdf">[PDF]</a>{% endif %}
    {% if paper.openaccess == true %}<img height="14" src="/img/oa.svg" class="oa" alt="open access logo" /> {% endif %}
<p>
{% endif %}
{% endfor %}
