---
layout: front
title: Group Members
---

<div class="no-gutters unit w-1-1">
    <a href="/about/"><img class="gallery" src="/img/me.jpg" alt="Picture of Seb Spain"></a>
    <a href="/about/"><h3 class="profile">Seb Spain</h3></a>
</div>

<div class="unit w-1-2">
    <h2 class="profile">PhD Students</h2>
    {% for person in site.data.people %}
    {% if person.position == 'PhD' and person.alumni != true %}<a href="profiles/{{ person.url }}.html"><h3 class="profile">{{ person.name }}</h3></a>
    {% endif %}
    {% endfor %}
</div>

<div class="unit w-1-2">
    <h2 class="profile">MChem Students</h2>
    {% for person in site.data.people %}
    {% if person.position == 'MChem' and person.alumni != true %}
    <h3 class="profile">{{ person.name }}</h3>
    {% endif %}
    {% endfor %}
    <h2 class="profile">MSc Students</h2>
    {% for person in site.data.people %}
    {% if person.position == 'MSc' and person.alumni != true %}
    <h3 class="profile">{{ person.name }}</h3>
    {% endif %}
    {% endfor %}
    <h2 class="profile">Visiting Researchers</h2>
    {% for person in site.data.people %}
    {% if person.position == 'Visitor' and person.alumni != true %}
    <h3 class="profile">{{ person.name }}</h3>
    {% endif %}
    {% endfor %}
    <a href="photos/"><h2 class="profile">Group Photos</h2></a>
</div>

<div class="unit w-1-1">
    <a href="join.html"><h2 class="profile">Interested in joining the lab? Click for more details.</h2></a>
</div>

<div class="unit w-1-1">
        <h2 class="profile">Alumni</h2>
</div>

<div class="unit w-1-2">
    <h2 class="profile">PhD Students</h2>
    {% for person in site.data.people %}
    {% if person.position == 'PhD' and person.alumni == true %}<a href="profiles/{{ person.url }}.html"><h3 class="profile">{{ person.name }}</h3></a>
    {% endif %}
    {% endfor %}
</div>

<div class="unit w-1-2">
    <h2 class="profile">MChem Students</h2>
    {% for person in site.data.people %}
    {% if person.position == 'MChem' and person.alumni == true %}
    <h3 class="profile">{{ person.name }}</h3>
    {% endif %}
    {% endfor %}
    <h2 class="profile">MSc Students</h2>
    {% for person in site.data.people %}
    {% if person.position == 'MSc' and person.alumni == true %}
    <h3 class="profile">{{ person.name }}</h3>
    {% endif %}
    {% endfor %}
    <h2 class="profile">Visiting Researchers</h2>
    {% for person in site.data.people %}
    {% if person.position == 'Visitor' and person.alumni == true %}
    <h3 class="profile">{{ person.name }}</h3>
    {% endif %}
    {% endfor %}
</div>
