---
layout: page
title: Publications
---


<p>Where copyright agreements allow a link to the published PDF may be found. Otherwise for PDF copies of any of the articles below please <a href="mailto:seb@sebspain.co.uk">contact me</a> and I will provide them where possible.</p>

<p>* denotes SGS as corresponding author; <img height="14" src="/img/oa.svg" class="oa" alt="open access logo" /> denotes article published open access.</p>

A simple list is available <a href="./pub_list.html">here</a>.

<h2 id="peer-reviewed-journals">Peer-reviewed Journals</h2>
<section class="cards">
  {% for paper in site.data.papers %}
 <article class="card">
  {% if paper.toc == true %}
  <p><img class="card" src="/non_foss/publications/img/{{ paper.doi_short }}_toc.png" alt="TOC Graphic" /></p>{% endif %}
  <p style="text-align: center"><strong>{{ paper.title }}</strong></p>

    <p><em>{{ paper.journal }}</em>, {{ paper.year }}, {% if paper.volume %} <strong>{{ paper.volume }}</strong>,{% endif %} {{ paper.pages }}.<br>

        <a href="http://dx.doi.org/{{ paper.doi }}">[DOI]</a>
        <a href="summaries/{{ paper.id }}.html">[Summary]</a>
        {% if paper.pdf == true %}<a href="/non_foss/publications/PDFs/{{ paper.year }}/{{ paper.doi_short }}.pdf">[PDF]</a>{% endif %}
        {% if paper.openaccess == true %}<img height="14" src="/img/oa.svg" class="oa" alt="open access logo" /> {% endif %}
    </p>
    <div data-badge-popover="right" data-badge-type="1" data-doi="DOI: {{ paper.doi }}" data-hide-no-mentions="true" class="altmetric-embed"></div>
</article>
  {% endfor %}
</section>

<h2 id="book-chapters">Book Chapters</h2>

<ol class="publications" reversed="reversed">
  {% for book in site.data.books %}
    <li>
    <p>
        {{ book.authors }}; "{{ book.title }}" in <em>{{ book.booktitle }}</em>, {{ book.year }}, {% if book.volume %} vol. {{ book.volume }}, {% endif %} {{ book.pages }}.
    </p>
    </li>
  {% endfor %}
</ol>
